:root {
  --kiminagrey: #f2f2f2;
  --kiminapink: #f4ccca;
}

@font-face {
    font-family: kiminaFont28;
    src: url(/fonts/KnockoutHTF28.woff);
}
@font-face {
    font-family: kiminaFont29;
    src: url(/fonts/KnockoutHTF29.woff);
}
@font-face {
    font-family: kiminaFont49;
    src: url(/fonts/KnockoutHTF49.woff);
}
@font-face {
    font-family: kiminaFont53;
    src: url(/fonts/KnockoutHTF53.woff);
}
@font-face {
    font-family: kiminaFont68;
    src: url(/fonts/KnockoutHTF68.woff);
}
@font-face {
    font-family: kiminaFont69;
    src: url(/fonts/KnockoutHTF69.woff);
}

/* Mobile first */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'kiminaFont29';
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a, a:hover, a:active, a:visited, a:link {
  text-decoration: none;
}

h2{
  margin: 0;
}

.content {
  min-height: 200px;
}

.content-header{
  display: flex;
  justify-content: center;
  background-color:  var(--kiminagrey);
  padding: 20px 10px;
}

/** FRONT: Header *******************************************************/
/************************************************************************/

.logo-container {
  background-color: var(--kiminapink);
  padding: 30px;
  margin: 0 auto;
  height: 130px;
}

.logo {
  text-align: center;
  text-decoration: none;
  color: #000000;
  font-size: 72px;
  font-family: 'kiminaFont68';
  padding: 0;
  margin: 0;
}


.gradient-line {
  height: 1px;
  width: 100%;
  background: radial-gradient(#000000, #d6d6d6, #ffffff);
}

.nav-container {
  padding: 6px;
  display: flex;
  justify-content: space-between;
}

.nav-container a {
  color: #000000;
  font-size: 21px;
}

.menu-nav {
    display: none;
    position: absolute;
    z-index: 100;
    background-color: #ffffff;
    top: 182px;
    left: 0;
    width: 100%;
}

.menu-nav a{
  display: block;
  text-decoration: none;
  color: #000000;
  text-align: center;
  padding: 5px 0;
}

.menu-nav a:hover {
  background-color: var(--kiminapink);
}

.selected {
    display: block;
    transition: transform .2s;
}

.social-menu {
  display: inline-block;
}

.social-menu li{
  display: inline-block;
}

.social-menu a {
  color: #000000;
  font-size: 20px;
  padding: 8px;
}

/** FRONT: Footer *******************************************************/
/************************************************************************/
.social-footer{
  display: flex;
  justify-content: center;
  background-color: var(--kiminagrey);
  padding: 10px 0;
  clear: both;
}
.social-footer li {
  display: inline-block;
}
.social-footer a {
  color: #000000;
  font-size: 40px;
  padding: 10px;
}
.footer{
  background-color: #000000;
  padding: 20px 0 10px 0;
}
.footer p {
  text-align: center;
  color: #ffffff;
}
.copyright{
  color: pink !important;
}

/** FRONT: Home *********************************************************/
/************************************************************************/

.main-banner img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/** FRONT: Faqs *********************************************************/
/************************************************************************/

.faqs-content {
  width: 100%;
  padding: 20px 0;
}
.faq-item {
  width:100%;
}
.question{
  cursor:pointer;
  border-bottom: 1px solid var(--kiminapink);
}
.answer{
  padding: 10px 40px;
  color: #b2b2b2;
  text-align: justify;
}

.question p {
  margin: 10px 0;
  padding: 0 30px;
  font-weight: bold;
  font-size: 20px;
}

.faqclose .answer{
  display:none;
}

.faqopen .answer{
  display:block;
}

.faqopen .question p:before{
  content:"- "!important;
  color: var(--kiminapink);
  font-weight: bold;
}

.faqclose .question p:before{
  content:"+ ";
  color: var(--kiminapink);
  font-weight: bold;
}
.faqs-footer h6 {
  color: var(--kiminapink);
  text-align: center;
}
.faqs-footer p {
  color: #b2b2b2;
  text-align: center;
}

/** FRONT: Contact ******************************************************/
/************************************************************************/
.contact-info{
  margin: 30px;
}
.contact-item p {
  text-align: center;
}

.icon{
  color: var(--kiminapink);
  font-size: 36px;
}

.contact-form h6 {
  text-align: center;
  padding: 20px;
}

.contact-form form {
  max-width: 450px;
  padding: 0 10px;
  margin: auto;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.contact-form textarea {
   resize: none;
}

/** FRONT: Eshop ******************************************************/
/************************************************************************/
.eshop-content{
  width: 70%;
  margin: auto;
}

.product img{
  width: 100%;
  border: 1px grey solid;
}

.product p {
  text-align: center;
}


/************************************************************************/
/************************************************************************/
/** DESKTOP *************************************************************/
/************************************************************************/
/************************************************************************/
@media(min-width:750px){

  /* FRONT: Header */

  .toggle-menu {
    display: none;
  }
  .menu-nav {
    position:inherit;
    display: block;
  }
  .menu-nav li{
    display: inline-block;
  }
  .menu-nav a {
    padding: 0 10px;
  }
  .menu-nav a:hover {
    background-color: #fff;
    color: pink;
  }
  .nav-container {
    display: flex;
    justify-content: center;
  }
  .social-menu {
    position: absolute;
    z-index: 99;
    top: 139px;
    right: 10px;
  }

  /* FRONT: Faqs */

  .faq-item{
    width: 90%;
    margin: 0 auto;
  }
  .question p {
    font-size: 21px;
  }
  .question p, .answer {
    width: 70%;
    margin: 10px auto;
  }
  .answer {
    padding-left: 70px;
    font-size: 18px;
    color: #B3B3B3;
  }
  .faqclose .question p:before,  .faqopen .question p:before {
    margin-right: 30px;
  }

  /* FRONT: Contact */
  .contact-info {
    display: flex;
    justify-content: center;
  }
  .contact-item {
    display: inline-block;
    margin: 20px;
  }

  /* FRONT: Eshop */
  .eshop-content{
    width: 90%;
    margin: auto;
  }
  .categories {
    width: 15%;
  }
  .products {
    margin-left: 15%;
    width: 85%;
    padding: 5%;
  }
  .categories, .product{
    float: left;
  }
  .product{
    width: 31%;
    margin: 1%;
  }
  .product img{
    height: 380px;
    object-fit: cover;
  }


}
